.header {
  background-color: black;
  height: 100px;
}

body {
  margin: 0;
}

.logo {
  text-align: center;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80px; /* Adjust logo size */
  height: auto; /* Maintain aspect ratio */
}

.company-description {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 20px 10px; /* Adjust margin for responsiveness */
}

.motivational-quotes {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin: 20px 10px; /* Adjust margin for responsiveness */
}

#Container {
  border: 1px solid black;
  margin: 5% auto; /* Adjust margin for responsiveness */
  max-width: 90%; /* Adjust max-width for responsiveness */
  height: auto; /* Adjust height for responsiveness */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

#Container > h2 {
  text-align: center;
}

form {
  width: 100%; /* Adjust form width for responsiveness */
  max-width: 300px; /* Set maximum width */
  margin: 0 auto; /* Center align */
  border-radius: 5px;
  padding: 7% 0; /* Adjust padding for responsiveness */
  box-sizing: border-box; /* Include padding in width calculation */
}

.Frm {
  width: 50%; /* Adjust form width for responsiveness */
  margin: 0 auto; /* Center align */
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

#message {
  text-align: center;
  color: red;
}

/* Media Query for Phones */
@media screen and (max-width: 768px) {
  .logo {
      max-width: 100%;
  }

  .company-description,
  .motivational-quotes {
      margin: 20px; /* Adjust margin for responsiveness */
  }

  #Container {
      width: 90%;
      margin-top: 10%;
  }

  form {
      padding: 15% 0; /* Adjust padding for responsiveness */
  }
}
